@model IEnumerable<BalanceProject2.Models.Payments>

<form action="~/Home/AddP">
    <button class="btn btn-primary">Добавить платёж</button>
</form>
<table class="table">
    <tr>
        <th>
            Платежи
        </th>
        <th>
            Дата
        </th>
        <th>
            Фамилия
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personal_accounts.Surname)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "UpdateP", new { id=item.Id_Payment }) |
            @Html.ActionLink("Удалить", "DeleteP", new { id=item.Id_Payment })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Админская панель", "AdminPanel")
</div>